body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
.content {
  background-color: #FFF;
  padding: 20px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  width: 400px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 400px;
}
